* {
    /* margin: 0;
    padding: 0; */
}


html {
    background-image: url('/assets/images/concrete_seamless.png');
}

.container {
    padding: 8px 30px;
    border-bottom: 1px solid #cccccc;
}

header {
    background: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    /* float: left; */
    position: fixed;
    top: 0;
    left: 200px;
    padding: 8px 30px;
    font-size: 14px;
    color: white;
    z-index: 10;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* display: inline-block; */
}

.about,
.portfolio {
    border-right: 1px solid #cccccc;
    margin-right: 5px;
    padding-right: 5px;
}

h1.about,
section.p {
    padding: 35px 10px;
}

.profile-pic {
    position: relative;
    padding: 20px;
    margin-bottom: 10px;
}

h1.about,
h1.contact,
h1.portfolio {
    color: #4aaaa5;
    margin: 5px;
    border-bottom: 3px solid #e9e6e6;
}

.submit-button {
    background: #4aaaa5;
    color: white;
}

.name,
.email,
.message {
    color: #777777;
    margin: 0 auto;
    width: 960px;
}

.message {
    height: 200px;
}

body {
    background: #ffffff;
    border-color: #777777;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    overflow: auto;
    padding-bottom: 20px;
}

footer {
    color: #c0bcbc;
    background: #666666;
    border-top: 4px solid #4aaaa5;
    text-align: center;
    padding: 30px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    position: relative;
    clear: both;
}